@model IEnumerable<ok.Models.Appunti>

@{
    ViewData["Title"] = "home";
}

<h1>home</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUtente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUtente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
